/**
 * These are the styles that will get used on the recipes page,
 * such as those found @ /recipes
 */

 .recipe-grid {
   display: grid;
   grid-gap: 1rem;
   grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
 }

/**
 * These are the styles that will get used on a single recipe page,
 * such as those found @ /recipes/[id]
 */

 .recipe {

 }

 .recipe__utility {
   display: flex;
   align-content: center;
 }

 .recipe__edit {
   align-self: center;
   margin-left: 45rem;  // temporary! until improved style
 }