@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/* sticky footer */
/* body handles anything in the app directory */
/* #__next handles the pages directory */
body, #__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer { margin-top: auto; }